@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

/*Added the grid layout, with fixed heights for the header and footer
and 100% for the maincontent*/
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;

  display: grid;
  grid-template-rows: 80px 100% 70px;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  position: static;
  padding: 25px 0 25px 0;
}

/*To keep the footer centered when thw vp is small and it takes two lines*/
@media screen and (max-width: 423px) {
  #footer{
    padding: 19px 0 25px 0;
  }
}


/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  line-height: 70px;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100vw;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100px;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0px;
  padding: 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/*Media querie to make the home selects fit right when viewport is reduced*/
@media screen and (max-width: 445px){
	.filter-options select {   width: 40%; }
}


/* ====================== Restaurant Listing ====================== */

/*Added display flex and wrap, to give responsiveness to the list
for different vp sizes*/
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 0px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 10px;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;

  width: 100%;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

/*
- Grid based layout to the Restaurant Details view
- Fixed sized to header and footer and 100% of the rest to the maincontent
- 3 rows and 1 column
*/
.inside {
  display: grid;
  grid-template-rows: 131px 100% 70px;
}

/*Header goes from row 1 to 2*/
.inside header {

  position: static;
  width: 100%;
  z-index: 1000;

  grid-row-start: 1;
  grid-row-end: 2;
}


.inside #maincontent {
  position: static;

  /*maincontent goes from row 2 to 3*/
  grid-row-start: 2;
  grid-row-end: 3;

  width: 100%;

  /*Grid with #restaurant-container, #map-container and #restaurant-container
  as a child*/
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10fr 15fr;
}

.inside #map-container {
  position: static;

  /*the map-container takes column 2 (line 2 to 3)
  and row 1 and 2 (line 1 to 3)*/
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 3;

  background: blue none repeat scroll 0 0;

  /*This negative margin helped to eat the blank space that the Breadcrumb
  was leaving (it makes the map-container go out of his grid space)*/
  margin-top: -51px;
}

.inside #restaurant-container {

  /*the restaurant-container takes column 1 (line 1 to 2)
  and row 1 (line 1 to 2)*/
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 40px 40px;
}
#reviews-container {
  padding: 30px 40px 40px;
}


#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}



#reviews-container h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;

  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
  border-radius: 20px 0 20px 0;
}
#reviews-list li p {
  margin: 0 0 10px;
}

/*Style for the reviewer name*/
#reviews-list li p:nth-child(1) {
  background-color: #333;
  color: white;
  position: static;
  left: auto;
  height: 40px;

  /*Negative margins to make the color to take all the lane*/
  margin-left: -20px;
  margin-right: -20px;

  /*To align the unaligned text due to the negative margin*/
  text-indent: 20px;

  /*To make some space between the top and the name*/
  line-height: 35px;
}

/*Style for the date*/
#reviews-list li p:nth-child(2) {
  background-color: #333;
  color: #ddd;
  position: absolute;

  /*top: 0 to align it in the first line with the name of the reviewer*/
  top: 0px;

  right: 20px;
  height: 40px;
  line-height: 35px;
  ;
}

/*Style for the review rating*/
#reviews-list li p:nth-child(3) {
  background-color: orange;
  color: white;
  width: 80px;
  height: 30px;
  position: static;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

/*Style for the review itself*/
#reviews-list li p:nth-child(4) {
  color: #708090;
  position: relative;
  top: 10px;
}

#restaurant-hours td {
  color: #666;
}



.inside #map {
  background-color: #ccc;
  width: 100%;
  height: 100%;
}

.inside #footer {

  /*Footer takes row 3 (line 3 to 4)*/
  grid-row-start: 3;
  grid-row-end: 4;

}

/*
- Breakpoint at 800px
- Changes the maincontent grid to one column and three rows
(map, restaurant and reviews)*/
@media screen and (max-width: 800px) {
  #breadcrumb {
    width: 100%;
  }

  .inside #maincontent {
    grid-template-columns: 1fr;
    grid-template-rows: 25fr 40% 75fr;
  }

  .inside #map-container {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

  }

  .inside #restaurant-container {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;

  }

  .inside #reviews-container {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;
  }

}
